html, body {
    margin: 0;
    padding: 0;
    background-image: url('assets/images/SpaceBackGround.jpg');
    color: white;
}

li {
    list-style-type: none;
}

.ops, .opsValue, 
.droneCost, .droneAmountName,
.droneAmount {
    display: inline;
}

.gameContainer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    height: 100vh; 
}

.buttonContainer, .middleContainer, .shopContainer {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
    height: 100vh;
    text-align: center;
    border: solid;
    border-color: white;
}

.buttonContainer{
    cursor: url('/assets/images/pickaxeCursorIcon.png'), auto;
}

.middleContainer {
    text-align: left;
    flex: 2;
}
.shopContainer {
    text-align: left;
}

.button { 
    color: transparent;
    background-color: transparent;
    border-color: transparent;
    cursor: url('/assets/images/pickaxeCursorIcon.png'), auto;
}

.asteroidImg {
    height: 200px;
}

.button:active .asteroidImg{
    cursor: url('/assets/images/altPickaxeCursorIcon.png'), auto;
    height: 195px;
    bottom: 10px;
    
}

.shopButton {
    margin-left: 10px;
    margin-right: 10px;
}